/* INFORMAZIONI GENERALI */
* {
  margin: 0;
  left: 0;
  box-sizing: border-box;
  font-family: 'Museo Sans';
}


/* SEZIONE HEADER NAV */
header {
  height: 600px;
  width: 100%;
  background-image: url(img/vecchi.JPG);
  background-size: cover;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}


/* CONTENITORE LOGO - E MENU */
.logo {
  background-image: url(img/logo.png);
  height: 53px;
  width: 10%;
  background-size: cover;
  margin-left: 17%;
  float: left;
  margin-top: 36px;
  margin-right: 10px;
}

.barra1 {
  float: left;
}

.barra1 a {
  color: white;
  font-size: 15px;
  float: left;
  display: block;
  text-align: center;
  padding: 63px 9px;
  text-transform: uppercase;
}

.barra2 {
  padding-top: 63px;
  padding-right: 69px;
  float: right;
}

#a1 {
  color: white;
}

#a2 {
  background-color: rgba(255, 0, 0, 0.0);
  border: solid white 2px;
  border-radius: 20%;
  padding: 10px;
  color: white;
}

#a3 {
  background-color: rgb(71, 158, 3);
  border-radius: 6%;
  padding: 10px;
  color: white;
}


/* SEZIONE CENTRALE HEDER INFO */
info::after {
  content: "";
  display: table;
  clear: both;
}

.info {
  height: 220px;
  width: 40%;
  margin-left: 17%;
  margin-top: 7%;
  position: relative;
}

#claim {
  font-size: 50px;
  color: white;
  text-align: left;
}

#bottonplan {
  background-color: rgb(71, 158, 3);
  border-radius: 6%;
  padding: 10px;
  color: white;
  position: absolute;
  margin-left: 0%;
  margin-top: 4%;
}
/* FINE HEADER */

/* INIZIO 1° BLOCCO */

.blocco1 {
  background-color: rgb(235, 235, 235);
  height: 150px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding: 44px;
  line-height: 230%;
}

#pb1 {
  color: black;
  font-size: 30px;

}

#pb2 {
  color: rgba(159, 156, 156, 1);
  font-size: 16px;
}

/* INIZIO 2° BLOCCO */

.blocco2 {
  height: 400px;
  width: 100%;
  background-color: white;
}






/* FAQs */
.faqs {
  background: #183257;
  height: 110px;
  width: 100%;
  padding-top: 10px;
}

.faqs p {
  padding-left: 265px;
  padding-top: 12px;
}

#p1 {
  font-size: 30px;
  color: white;
}

#p2 {
  color: rgba(223, 223, 223, 0.60);
}

#colorfaqs {
  color: rgb(13, 154, 36);
}


/* FOOTER */
.footer {
  background: #234068;


}

foter::after {
  content: "";
  display: table;
  clear: both;
}


/* BLOCCO FOOTER LEFT */
li {
  padding: 7px;
  color:rgba(223, 224, 224, 0.65);
}

ul li:first-child {
  font-size: 12px;
  color: white;
}

ul {
list-style-type: none;
padding-left: 17%;
padding-top: 4%;
font-size: 24px;
}


/* BLOCCO FOOTER RIGHT */

#right ul{
  float: right;
  width: 100%;
  height: 400px;
}
